html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:azure;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main-table {
  margin: auto;
}
.main-table td{
  padding: 30px;
}
.main-table p , .main-table input  , .main-table textarea 
, .main-table h4 , .main-table button{
  font-size: 20px;
  border-radius: 13px;
}
.name-tag td{
  margin: 20px;
  padding: 20px;
  background-color: #A7E8DB;
}
.skill td{
    background-color: #A7E8DB;
    padding: 5px;
    text-align: center;
}
.name-tag td , .skill td {
  border-radius: 7px;
}
.skill {
  width: 100%;
}
.sub-title {
  background-color: #ABDCFF;
  padding: 12px;
}
.title {
  background-color: #A5A3F4;
  margin: auto;
  width: 500px;
  padding: 20px;
}
.title div {
  margin: 20px;
  padding: 10px;
}
.sub-title , .title {
  
  border-radius: 12px;
  text-align: center;
}
.profile {
  width: 180px;
  height: 180px;
}
.gallery {
  width: 300px;
  height: 300px;
}

.description{
  text-align: center;
}

button{
  background-color:#EE82EE;
  padding: 8px;
  margin: 10px;
  border-radius: 30px;
}
button:hover{
  background-color:#EE82EE;
}
.btn{
  border-radius: 20px;
  padding-left: 13px;
  padding-right: 13px;
}


#name ,#grade,#w{
  width: 200px;
  font-size: 20px;
  border-radius: 8px;
  padding: 5px;
}
#form {
  border-collapse:separate;
}

#form td,#form th {
  width: 1%;
  padding: 7px;
}
#Link {
  width: 100%;
}
#Link td{
  width: 15%;
}
#form td {
  background-color: #A7E8DB;
}

#form th {
  background-color:#006994;
  border-top: none;
}
#form th:first-child ,#form td:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#form th:last-child ,#form td:nth-child(3){
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#form td:last-child {
   border-left: none;
   background-color:azure;
}
.CourseCard{
  margin: 13px;
  background-color:#ABDCFF;
  border-radius: 8px;
  font-family: 'Prompt', sans-serif;
}
#CC td{
  width: 100%;
  padding-left: 10px;
}